*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
  }

  body{
    overflow-x: hidden;
    background: #ffffff;
  }

/* Home page */
  .container{
    width: 100%;
    height: auto;
    position: relative;
  }

  .container img{
    width: 100%;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }

.headerText h1, h2{
  position: absolute;
  z-index: 1;
  right: auto;
  bottom: auto;
  text-transform: uppercase;
}


  .headerText h1{
  top: 40%;
  left: 28%;
  
  color: white;
  letter-spacing: 5px;
  font-weight: 600;
  border: 1px solid white;
  padding: 20px;
  filter: drop-shadow(1px 1px 5px white);
  font-size: 5rem;
  z-index: 3;
  }

.headerText h2{
  top: 60%;
  left: 40%;
  padding-top: 2rem;
  color: #900ce7; 
  filter: drop-shadow(3px 3px 5px white);
  font-size: 2rem;
  font-family: "Helvetica Neue", sans-serif;
}


#particles-js{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 1;
}

.nav-bar{
  position: absolute;
  left: 10%;
}

.nav-bar li {
  display: inline-block;
  float: left;
  padding: 2rem;
  color: white;
  font-weight: 450;
  justify-content: space-between;
  font-size: 1.5rem;
  z-index: 5;
  transition: all 0.5s ease-out;
}

.nav-bar li:hover{
cursor:pointer;
color: #9808f8; 
filter: drop-shadow(2px 2px  20px white);
}

.whatsapp-icon img{
position: fixed;
height: 70px;
width: auto;
right: 2%;
bottom: 5%;
z-index: 20;

border-radius: 50%;
box-shadow: 0 0 0 0 rgb(69, 152, 27);
transform: scale(1);
animation: pulse 2s infinite;

}

.whatsapp-icon img:hover{
cursor:pointer;
color: #45981b; 
filter: drop-shadow(5px 5px   5px white);
}

/* About page */

.container-about{
  width: 100%;
    height: auto;
    position: relative;
    background:white;
}

.container-about img{
  width: 100%;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.about-background img{
position: relative;
z-index: 1;
width: 1550px;
height: 727px;
bottom: 1227px;
left: 0px;
}

.about{
  width: 500px;
  height: 500px;

  position:relative;
  float: right;
  right: 150px; 
  bottom: 600px;

  z-index: 4;
  padding: 1rem;

  border: 0px solid black;
  border-radius: 15px;
  text-align: center;
  box-shadow: 2px 2px 30px #900ce7;
  transition: all 0.4s ease;
}

.about:hover{
  transform: perspective(1000px) translate3d(10px, 0, 100px);
  transition: all 0.8s ease;
}

.about h2{
margin-top: 7%;
right:35%;
letter-spacing: 3px;
font-family: 'Courier New', Courier, monospace, sans-serif;
text-transform: uppercase;
color: white;
}

.about p{
margin-top: 23%;
font-size: 25px;
font-family: 'Times New Roman', Times, serif, sans-serif;
color: white;
transition: all 0.4s ease;
}

.about p:hover{
  margin-top: 23%;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  color: rgb(255, 255, 255);
  filter: drop-shadow(5px 5px  20px white);
  transition: all 0.8s ease;
  }

/* Project Page */

.container-project{
  width: 100%;
  height: auto;
  
}


.all-images{
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  height: auto;
  width: 100%;
  top:-1050px;
  right: 95px;
  
}

.all-images h2{
  position: relative;
  top: -150px;
  left: 49%;
  padding-top: 5rem;
  color: black; 
  font-size: 3rem;
  font-family: "Helvetica Neue", sans-serif;
  margin-bottom: 100px;
  
}

.second-column{
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  height: auto;
  width: 100%;
  top:-1020px;
  left: 164px;
  
}

.project-img{
  margin: 10px 15px;
  box-shadow: 2px 2px 30px #000000;
  transition: all 0.4s ease;
  
}

.project-img:hover{ 
  transform: perspective(1000px) translate3d(5px, 0, 50px);
  transition: all 0.8s ease;
  opacity: .5;

}

/* Technologies*/

.container-tech{
  background: #ffffff; 
  width: auto;
  height: 100%;
}

.technologies h3{
  position: relative;
  top: -800px;
  left: 36.8%;    
  color: #ffffff; 
  font-size: 3rem;
  font-family: "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  z-index: 10;
  filter: drop-shadow(1px 1px 5px white);
}

.tech-bg{
  position:relative;
  bottom: 850px;
  left: 55px;
  z-index: 2;
  width: 850px;
  height: auto;
  transition: all 0.4s ease;
  margin-bottom: 0px;
}

.tech-bg:hover{
  transform: perspective(1000px) translate3d(-25px, 10px, 100px);
  transition: all 0.8s ease;
  cursor: pointer;
}

.tech-pc{
  position:relative;
  width: 1000px;
  height: auto;
  bottom: 2320px;
  left: 16.5%;
  z-index: 1;
  margin-bottom: 0px;
}

.background-star img{
  position: relative;
  width: 1550px;
  height: 100%;
  bottom: 1500px;
  z-index: 1;
  margin-bottom: 0px;
}

/* Contact */
.container-contact{
  position: relative;
  bottom: 2170px;
  background:#ebebeb;
  width: 100%;
  height: 800px;
}

.redes-sociais{
position: relative;
}

.redes-sociais h2{
  position: absolute;
 left: 39.5%;
 bottom: -100px;
 font-size: 3rem;
}

.redes-sociais p{
  position: absolute;
  left: 45%;
  bottom: -150px;
  font-size: 2rem;
 }

.whatsapp-contact img{
position: relative;
left: 40%;
bottom: -200px;
}
.email-contact img{
position: relative;
left: 46%;
bottom: -140px;
}
.linkedin-contact img{
position: relative;
left: 52%;
bottom: -78px;
}

.github-contact img{
  position: relative;
  left: 57%;
  bottom: -14px; 
}

.whatsapp-contact img:hover{
  cursor: pointer;
}

.email-contact img:hover{
  cursor: pointer;
}
.linkedin-contact img:hover{
  cursor: pointer;
}
.github-contact img:hover{
  cursor: pointer;
}

/* Author notes */
.note-text h2{
  position: absolute;
 left: 43%;
 bottom: 150px;
 font-size: 2rem;
}

.note-text p{
  position: relative;
text-align: center;
bottom: -400px
}

/* footer */
footer{
  position: relative;
  text-align: center;
  padding: 4rem 0 2rem;
  font-weight: normal;
  font-size: 1rem;
  color: #8e44ad;
  top: 400px;
}

/* Animations */

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(69, 152, 27, 0%);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgb(69, 152, 27, 50%);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(69, 152, 27, 50%);
	}
	
};





