*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
    
  }

  body{
    overflow-x: hidden;
  }

/* Home page */
  .container{
    width: 100%;
    height: auto;
    position: relative;
  }

  .container img{
    width: 100%;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }

.headerText h1, h2{
  position: absolute;
  z-index: 1;
  right: auto;
  bottom: auto;
  text-transform: uppercase;
}


  .headerText h1{
  top: 40%;
  left: 28%;
  
  color: white;
  letter-spacing: 5px;
  font-weight: 600;
  border: 1px solid white;
  padding: 20px;
  filter: drop-shadow(1px 1px 5px white);
  font-size: 5rem;
  z-index: 3;
  }

.headerText h2{
  top: 60%;
  left: 40%;
  padding-top: 2rem;
  color: #900ce7; 
  filter: drop-shadow(3px 3px 5px white);
  font-size: 2rem;
  font-family: "Helvetica Neue", sans-serif;
}


#particles-js{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 1;
}

.nav-bar{
  position: absolute;
  left: 10%;
}

.nav-bar li {
  display: inline-block;
  float: left;
  padding: 2rem;
  color: white;
  font-weight: 450;
  justify-content: space-between;
  font-size: 1.5rem;
  z-index: 5;
  transition: all 0.5s ease-out;
}

.nav-bar li:hover{
cursor:pointer;
color: #9808f8; 
filter: drop-shadow(2px 2px  20px white);
}

.whatsapp-icon img{
position: fixed;
height: 70px;
width: auto;
right: 2%;
bottom: 5%;
z-index: 20;

border-radius: 50%;
box-shadow: 0 0 0 0 rgb(69, 152, 27);
transform: scale(1);
animation: pulse 2s infinite;

}

.whatsapp-icon img:hover{
cursor:pointer;
color: #45981b; 
filter: drop-shadow(5px 5px   5px white);
}

/* About page */

.container-about{
  width: 100%;
    height: auto;
    position: relative;
    background:white;
}

.container-about img{
  width: 100%;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.about{
  width: 500px;
  height: 500px;

  position:relative;
  float: right;
  right: 150px; 
  bottom: 600px;

  z-index: 4;
  padding: 1rem;

  border: 0px solid black;
  border-radius: 15px;
  text-align: center;
  box-shadow: 2px 2px 30px #900ce7;
  transition: all 0.4s ease;
}

.about:hover{
  transform: perspective(1000px) translate3d(10px, 0, 100px);
  transition: all 0.8s ease;
}

.about h2{
margin-top: 7%;
right:35%;
letter-spacing: 3px;
font-family: 'Courier New', Courier, monospace, sans-serif;
text-transform: uppercase;
}

.about p{
margin-top: 23%;
font-size: 25px;
font-family: 'Times New Roman', Times, serif, sans-serif;
}

/* Project Page */

.container-project{
  width: 100%;
  height: auto;
  background:#F5F5F5;
}

.all-images{
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  height: auto;
  width: 100%;
  top:-350px;
  right: 95px;
  
}

.all-images h2{
  position: relative;
  top: -150px;
  left: 49%;
  padding-top: 5rem;
  color: black; 
  font-size: 3rem;
  font-family: "Helvetica Neue", sans-serif;
  margin-bottom: 100px;
  
}

.second-column{
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  height: auto;
  width: 100%;
  top:-350px;
  left: 164px;
  
}

.project-img{
  margin: 10px 15px;
}


.project-img:hover{
  background: black;
  opacity: 1;
}

/* Animations */

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(69, 152, 27, 0%);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgb(69, 152, 27, 50%);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(69, 152, 27, 50%);
	}
	
};



